.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 40px 10%;
  }
  
  .carousel-content {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    margin-right: 15px;
    width: 270px;
    cursor: pointer;
    /* Tus estilos existentes para los ítems */
  }
  
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    /* Personaliza tus botones/flechas según necesites */
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }
  
  .iconChevron{
    cursor: pointer;
    fill: white;
    width: 30px !important;
  }
  .iconChevron:hover{
    fill: var(--color-claro);


  }
