<div  class="PageTotalGames">

  <h1>Estadísticas</h1>
  <div class="graficas">
    <iframe style="background: #21313C;border: none;border-radius: 10px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="480" src="https://charts.mongodb.com/charts-project-0-jblsj/embed/charts?id=65c97b15-a7b9-498e-89d5-6964bab4aff0&maxDataAge=-1&theme=dark&autoRefresh=false"></iframe>
    <iframe style="background: #21313C;border: none;border-radius: 10px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-jblsj/embed/charts?id=65c98608-ed77-4977-844a-b8e35685d2b6&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    <iframe style="background: #21313C;border: none;border-radius: 10px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="480" src="https://charts.mongodb.com/charts-project-0-jblsj/embed/charts?id=65c993cc-3795-4466-8164-7d4ef9a09dc6&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    <iframe style="background: #21313C;border: none;border-radius: 10px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-jblsj/embed/charts?id=65c997f9-e6a0-4e47-8fa8-9319af030667&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
  </div>
</div>