.PageTotalGames{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.circlebtn{
    background-color: #f2f2f2;
}
.labelName{
    margin-top: 10px;
}
.divDeItems3{
    padding: 5%;
    padding: 5%;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    margin: 40px;
    width: 220px;
}
.icons{
    padding: 17px;
}