<div  class="PageTotalGames">

  <div class="CardComplete">
    <div class="displayrow ">
      <div class="info">
        <h1 class="text">{{gameDetails.name}}</h1>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="displayrow padComplete">
    <div>
      <!--<img src="{{gameDetails.background_image}}" class="imgGame">-->
      <p-galleria 
      [value]="shortScreenshots"
      [responsiveOptions]="responsiveOptions" 
      [containerStyle]="{ 'max-width': '640px' }"
      [numVisible]="5">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.image" style="width: 100%;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.image" style="width:95px; height: 60px; border: 2px solid #ccc; margin: 5px;" />
            </div>
        </ng-template>
    </p-galleria>
    </div>
    <div class="description">
      <h2> {{gameDetails.name}}</h2>
      <p class="date">Fecha de lanzamiento: {{gameDetails.released}}</p>
      <div class="star-rating">
        <!--<span *ngFor="let star of stars" [class.filled]="star <= gameDetails.rating">&#9733;</span>-->
        <p-rating [ngModel]="ratingGame" [readonly]="true" [cancel]="false" ></p-rating>        
        <span class="rating">({{gameDetails.rating}})</span>
      </div>

      <div class="genres-container">
        <div *ngFor="let genre of gameDetails.genres" class="genre">
          <div class="genre">
            {{ genre.name }}
          </div>
        </div>
      </div>
      <label>Disponible en:</label>
      <div *ngFor="let stores of gameDetails.stores" class="genre">
        <div class="genre">
          {{stores.store.name}}
        </div>

      </div>
      

    </div>
  </div>
  <!--COmentarios-->
  <div class="ComentaryPage">

    <h1 class="padding">Comentarios:</h1>
    <div class="divComentary" >
      <div *ngFor="let comentario of comentarios" class="comentario">
        <div class="comentarioUser">
          <div class="imgFondo">
            <!-- Icono de usuario, puedes mantenerlo estático o dinámico según prefieras -->
            <img src="../../../assets/Games/userSecret.svg" class="imgUser">
          </div> 
          <div class="tituloDiv">
            <p>{{ comentario.title }}</p>
          </div> 
          <div>
            <img src="../../../assets/Games/edit.svg" class="editIcon"
            (click)="editComment(comentario)">
          </div>
          <div>
            <img src="../../../assets/Games/trash.svg" class="editIcon"
            (click)="comentario._id && DeleteComent(comentario._id)">
          </div>
        </div>
        <div>
          <p-rating [ngModel]="comentario.rating" [readonly]="true" [cancel]="false"></p-rating>        
          <span class="rating">({{comentario.rating}})</span>
        </div>
        <div>
          <label class="Contenido">{{ comentario.description }}</label>
          
        </div>
      </div>
      
    </div>
  </div>
  <div class="ComentaryPage ColorPage">
    <h3 class="padding" style="margin-bottom: 10px;">Deja tu comentario:</h3>
    <div class="divComentary">
      <form (ngSubmit)="submitComment()" style="width: 100%;">
        <div class="field">
          <label for="titulo" style="margin-bottom: 10px;">Título:</label>
          <input type="text" id="titulo" class="inputs" [(ngModel)]="comentario.title" name="titulo" required>
        </div>
      
        <div class="field">
          <label for="descripcion" style="margin-bottom: 10px;">Descripción:</label>
          <textarea id="descripcion" class="TextArea" [(ngModel)]="comentario.description" name="descripcion" rows="4" required></textarea>
        </div>
      
        <div class="field">
          <label for="rating" style="margin-bottom: 10px;">Rating:</label>
          <p-rating [(ngModel)]="comentario.rating" class="custom-rating" name="rating" [cancel]="false"></p-rating>
        </div>
      
        <button type="submit" pButton class="btnBlue" icon="pi pi-check">
          {{ comentario._id ? 'Actualizar Comentario' : 'Enviar Comentario' }}
        </button>
              </form>
      
  </div>
  </div>  
    
  <div class="displayrow between cardDeCards">
    <h1>Proximos lanzamientos</h1>
  </div>
  <app-Carrousel [items]="ListProximosLanzamientos"></app-Carrousel>

</div>