<body class="PageInitial">
  
  <div class="CardComplete">
    <div class="displayrow flex50">
      <div class="info">
        <p>WELCOME TO RANKGAMES</p>
        <h1>EL MEJOR SITIO PARA VER JUEGOS!</h1>
        <label>Tu destino único para descubrir y disfrutar de los mejores juegos clasificados por la comunidad. Explora nuestra tienda para encontrar tus favoritos, descubre nuevas joyas, y conecta con otros apasionados de los juegos. </label>
        <!--SEARCH-->
        <div class="displayrow" style="margin-top: 2rem;">
          <input type="text" class="searchTerm" placeholder="Buscar Juegos">
          <button type="submit" class="searchButton">
            Buscar ahora
          </button>
        </div>
      </div>
      <div>
        <img src="../../../assets/Games/palworld-1705691572614.jpg" class="imgDefault">
      </div>
    </div>
  </div>

</body>